@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

@layer components {
  .control-icons {
    @apply w-5 h-5 stroke-2 mx-1 lg:mx-2 cursor-pointer;
  }

  .sidebar-icons {
    @apply w-6 h-6 stroke-2 mx-auto mb-7 cursor-pointer text-slate-400;
  }
}

.ace_mobile-menu {
    display: none;
}

* { -webkit-tap-highlight-color: rgba(0,0,0,0); }
